<% @title = "#{ t "page.edit-title" }" %>

<h1 class="text-center"><%= @title %></h1>

<div class="container">
  <%= link_to "#{ t "attributes.back" }", root_path, class: 'btn' %>
  <%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="form-group">
          <%= f.label :priority %>
          <%= f.select :priority, %w(高 中 低), {}, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="form-group form-inline">
          <%= f.label :endtime %>
          <%= f.datetime_select :endtime, {start_year: Time.current.year, default: 1.hour.from_now}, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="form-group">
          <%= f.label :status %>
          <%= f.select :status, %w(待處理 進行中 完成), {}, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="form-group">
          <%= f.label :tags %>
          <%= f.text_area :tags, class: 'form-control' %>
        </div>
      </div>
    </div>
    <%= f.submit "#{ t "attributes.edit" }", class: 'btn btn-primary center-block' %>
  <% end %>
</div>

