<% @title = "#{ t "page.index-title" }" %>
<h1 class = 'text-center'><%= link_to "#{ @title }", root_path %></h1>

<div class="container">
  <div class="flex content-space-between top-bar">
    <div class="flex-left">
      <div class="search-bar">
        <!-- search -->
        <%= form_tag(root_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "#{ t "attributes.placeholder-search" }", class: 'form-control' %>
            <%= submit_tag "#{ t "attributes.search" }", name: nil, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
      <div class="search-bar">
        <!-- search tag -->
        <%= form_tag(root_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= text_field_tag :tags, params[:tags], placeholder: "#{ t "attributes.placeholder-tags" }", class: 'form-control' %>
            <%= submit_tag "#{ t "attributes.search" }", name: nil, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
      <div class="filter-bar">
        <!-- filter by status -->
        <%= form_tag(root_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= select :task, :status, options_for_select(%w(待處理 進行中 完成)), {prompt: "#{ t "attributes.filter-status" }"}, class: 'form-control' %>
            <%= submit_tag "#{ t "attributes.filter" }", name: nil, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex-right">
      <!-- new a task -->
      <%= link_to "#{ t "attributes.new" }", new_task_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <!-- show tasks -->
  <table class="table">
    <!-- table title -->
    <tr>
      <th><%= t('activerecord.attributes.task.id') %></th>
      <th><%= t('activerecord.attributes.task.title') %></th>
      <th><%= t('activerecord.attributes.task.content') %></th>
      <th><%= sortable "priority", t('activerecord.attributes.task.priority') %></th>
      <th><%= sortable "endtime", t('activerecord.attributes.task.endtime') %></th>
      <th><%= t('activerecord.attributes.task.status') %></th>
      <th><%= t('activerecord.attributes.task.created_at') %></th>
      <th></th>
      <th></th>
    </tr>
    <!-- if there no task -->
    <% if @tasks == [] %>
      <tr><td colspan= '5'><%= t('messages.no-task') %></td></tr>
    <% else %>
    <!-- show tasks one by one -->
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= task.priority %></td>
          <td><%= task.endtime.strftime("%Y/%m/%d %H:%M") %></td>
          <td><%= task.status %></td>
          <td><%= task.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td><%= link_to "#{ t "attributes.edit" }", edit_task_path(task), class: 'btn btn-warning' %></td>
          <td><%= link_to "#{ t "attributes.delete" }", task_path(task), method: :delete, data: { confirm: "#{ t "messages.ask-delete" }" }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <div class="row justify-content-around">
    <div class="flex-center">
      <%= paginate @tasks %>
    </div>
  </div>
</div>
