<h1><%= t('page.index-title') %></h1>
<%= link_to "#{ t "attributes.new" }", new_task_path, class: 'btn btn-primary' %>
<table>
  <tr>
    <th><%= t('activerecord.attributes.task.id') %></th>
    <th><%= t('activerecord.attributes.task.title') %></th>
    <th><%= t('activerecord.attributes.task.content') %></th>
    <th><%= sortable "endtime", t('activerecord.attributes.task.endtime') %></th>
    <th><%= t('activerecord.attributes.task.created_at') %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.endtime.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= task.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= link_to "#{ t "attributes.edit" }", edit_task_path(task), class: 'btn btn-warning' %></td>
      <td><%= link_to "#{ t "attributes.delete" }", task_path(task), method: :delete, data: { confirm: "#{ t "messages.ask-delete" }" }, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
