<h1><%= t('page.new-title') %></h1>
<%= link_to "#{ t "attributes.back" }", tasks_path, class: 'btn' %>
<%= form_for(@task) do |f| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :priority %>
        <%= f.text_field :priority, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :endtime %>
        <%= f.time_select :endtime, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :status %>
        <%= f.text_field :status, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :tags %>
        <%= f.text_area :tags, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :user_id %>
        <%= f.number_field :user_id, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= f.submit "#{ t "attributes.new" }", class: 'btn btn-primary center-block' %>
<% end %>
