<% @title = "#{ t "page.user-index-title" }" %>
<h1 class = 'text-center'><%= link_to "#{ @title }", root_path %></h1>

<div class="container">
  <div class="flex flex-end top-bar">
    <div class="flex-right">
      <!-- new a user -->
      <%= link_to "#{ t "attributes.new" }", new_user_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <!-- show users -->
  <table class="table">
    <!-- table title -->
    <tr>
      <th><%= t('activerecord.attributes.user.id') %></th>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <th><%= t('activerecord.attributes.user.password') %></th>
      <th><%= t('activerecord.attributes.user.created_at') %></th>
      <th></th>
      <th></th>
    </tr>

    <!-- show users one by one -->
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.password %></td>
          <td><%= user.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td><%= link_to "#{ t "attributes.edit" }", edit_user_path(user), class: 'btn btn-warning' %></td>
          <td><%= link_to "#{ t "attributes.delete" }", user_path(user), method: :delete, data: { confirm: "#{ t "messages.ask-delete" }" }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>

  </table>
  <div class="row justify-content-around">
    <div class="flex-center">
      <%= paginate @users %>
    </div>
  </div>
</div>
